@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import "tailwindcss";
/* Definisi tema untuk Tailwind v4 */
/* Removed unsupported @theme rule */



@layer base {
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  @apply rounded-full;
  @apply py-1;
  @apply mx-4;
  @apply mt-4;
  @apply w-[93%];
  @apply lg:w-[98%];
  @apply shadow-lg;

  

  background-color: rgba(255,255,255,0.3);
  background-image: linear-gradient(to top, rgba(255,255,255,0.3), #bdc5d33b);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.376),
              0 4px 6px -2px rgba(0, 0, 0, 0.293); 

  /* Blur dikurangi menjadi 5px supaya ringan dan subtle */
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  border: 1px solid rgba(226, 225, 225, 0.575);
  transition: all 0.3s ease;
}

.box {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: saturate(180%) blur(20px);
}


@layer utilities {
  [data-aos="fade-down"] {
    transform: translateY(-20px) !important;
  }
  [data-aos="fade-down"].aos-animate {
    transform: translateY(0) !important;
  }
}

